# STM32CubeIDE / Eclipse build output
Debug/
Release/
build/
*.bin
*.elf
*.hex
*.map

# Local IDE settings
.settings/
.metadata/

# OS junk
.DS_Store
Thumbs.db

# Твоя папка з тестами (відносний шлях)
Projects/RFID-RC522_SPI/Tests/