# STM32CubeIDE build output
Debug/
Release/
Test_GPIO_Hardware/
Test_SPI_Arduino_Link/
Test_SPI_LogicAnalyzer/
MFRC522_Read_Write_Demo/
*.elf
*.bin
*.hex
*.map
*.o
*.d
*.su
*.css
*.list
*.launch

# Local IDE settings
.settings/
.metadata/

# OS junk
.DS_Store
Thumbs.db
doxygen-awesome.css

# Miscellaneous
Projects/RFID-RC522_SPI/Tests/
Docs/
